apiVersion: apps/v1
kind: Deployment
metadata:
  name: expenses-api-deployment
  namespace: default
  labels:
    app: expenses-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: expenses-api-pod
  template:
    metadata:
      labels:
        app: expenses-api-pod
    spec:
      containers:
        - image: ghcr.io/crisszkutnik/expenses-save-api:2.1.3
          imagePullPolicy: IfNotPresent
          name: expenses-api-container
          resources:
            limits:
              memory: "512Mi"
              cpu: 1
          ports:
            - name: grpc
              containerPort: 5000
            - name: http
              containerPort: 3100
          env:
            - name: CREDENTIALS_BASE64
              valueFrom:
                secretKeyRef:
                  name: expenses-api-secrets
                  key: CREDENTIALS_BASE64
            - name: SPREADSHEET_ID
              valueFrom:
                secretKeyRef:
                  name: expenses-api-secrets
                  key: SPREADSHEET_ID
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: expenses-api-secrets
                  key: DB_URL
            - name: EXCHANGE_RATE_TTL
              valueFrom:
                secretKeyRef:
                  name: expenses-api-secrets
                  key: EXCHANGE_RATE_TTL
            - name: STOCK_MARKET_API_URL
              valueFrom:
                secretKeyRef:
                  name: expenses-api-secrets
                  key: STOCK_MARKET_API_URL
            - name: HTTP_PORT
              valueFrom:
                secretKeyRef:
                  name: expenses-api-secrets
                  key: HTTP_PORT
