apiVersion: v1
kind: Service
metadata:
  name: expenses-api-service
  namespace: default
  labels:
    app: expenses-api
spec:
  selector:
    app: expenses-api-pod
  ports:
    - name: grpc
      port: 5000
      protocol: TCP
      targetPort: 5000
    - name: http
      port: 3100
      targetPort: 3100
